<template name="listNote">
  {{#each notes}}
  <div class="card col s12 m5 l2 note-block z-depth-1" style="background-color: {{color}}" id="{{_id}}-list-note">
    
    <div class="row">
      <div class="note-title row">
        {{title}}
      </div>
      <div class="note-content row">
        {{#if equals type "text"}}
          {{{content}}}
        {{else}}
        <ul class="todo-list">
          {{#each noteTodos _id}}
          <li  class="{{_id}} {{checked}}">
            <input type="checkbox" class="filled-in list-checkbox" id="{{_id}}-list-checkbox" checked="{{checked}}"  onclick="" />
            <label for="{{_id}}-list-checkbox" style="top: 10px;"></label>
            {{text}}
            </li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>
    <a href="#" class="btn-floating  select-note">
      <i class="fa fa-check "></i>
    </a>
    <div class="note-options row">
      <div class="col s3 right">
        <a class="btn-delete right"   href="#" data-tooltip="Trash"  data-tooltip-direction="s">
          <i class="fa fa-trash"></i>
        </a>
      </div>
      <div class="col s3 right">
        <a class="btn-archive right" href="#">
          <i class="fa fa-archive"></i>
        </a>
      </div>
    </div>
  </div>
  {{else}}
  {{> noteNotFound message="You have no notes. Please add using the above form." icon="fa-hand-o-up"}}
  {{/each}}
</template>

