<template name="listNote">
  {{#each notes}}
  <div class="card col s12 m5 l2 note-block z-depth-1" style="background-color: {{color}}">
    <div class="row">
      <div class="note-title row">
        {{title}}
      </div>
      <div class="note-content row">
        {{#if equals type "text"}}
          {{{content}}}
        {{else}}
        <ul class="todo-list">
          {{#each todos _id}}
          <li  class="{{_id}} {{checked}}">
            <input type="checkbox" class="filled-in" id="{{_id}}" checked="{{checked}}"  onclick="" />
            <label for="{{_id}}" style="top: 10px;"></label>
            {{text}}
            </li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>
    <div class="note-options row">
      <div class="col s3 right">
        <a class="btn-delete right"   href="#">
          <i class="fa fa-trash"></i>
        </a>
      </div>
      <div class="col s3 right">
        <a class="btn-archive right" href="#">
          <i class="fa fa-archive"></i>
        </a>
      </div>
    </div>
  </div>
  {{else}}
  {{> noteNotFound}}
  {{/each}}
  {{> editNote}}
</template>

