@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,500,700italic,700,500italic,300italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
body{
  background-color: #E8E8E8;
  color: #333;
  font-family: 'Roboto', sans-serif;
}
.mb-zero{
  margin-bottom: 0px;
}
@mixin transform-origin($args) {
  -webkit-transform-origin: $args;
  -moz-transform-origin: $args;
  -ms-transform-origin: $args;
  -o-transform-origin: $args;
  transform-origin: $args;
}


.tooltip {
  $tooltip-color: rgba(#000, .8);
  padding: 10px 8px;
  font-size: 11px;
  z-index: 2000;
  pointer-events: none;
  opacity: 0;
  border-radius: 2px;
  color: #fff;
  min-height: 36px;
  line-height: 11px;
  max-width: 200px;
  text-align: center;
  overflow: hidden;

  .inner {
    background-color: $tooltip-color;
    padding: 10px 8px;
    border-radius: 4px;
  }

  &.hide {
    opacity: 0;
  }

  &.show {
    opacity:1;
  }
}
