<template name="navbar">
  <div class="navbar-fixed hide-on-med-and-down">
  <nav class="brown darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand left" >LibreNote</a>
      <a href="#" data-activates="mobile-nav"  class="right button-collapse"><i class="mdi-navigation-more-vert"></i></a>
      <ul class="right hide-on-med-and-down">
        {{#if currentUser}}
          <li><a href="#" class="logout">Logout</a></li>
        {{/if}}
      </ul>
      <div class="left">
        <!--<form>-->
          <!--<div class="input-field">-->
            <!--<input type="search" id="search-field" class="field" required maxlength="" placeholder="search note">-->
            <!--<label for="search-field"><i class="mdi-action-search"></i></label>-->
            <!--<i class="mdi-navigation-close close"></i>-->
          <!--</div>-->
        <!--</form>-->
      </div>
    </div>
  </nav>
  </div>
</template>
