/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,500,700italic,700,500italic,300italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
body{
  background-color: #E8E8E8;
  color: #333;
  font-family: 'Roboto', sans-serif;
}
.main-container{
  .side-nav{
    top: 62px;
  }
}
.list-container{
  width: 95%;
  font-family: 'Roboto Slab', serif;
}
.nav2{
  position: fixed;
  width: 100%;
  top: 64px;
  height: 45px;
  line-height: 45px;
}

@media (max-width: 992px) { 
  .nav2{
    top: 0;
    }
}
