<head>
  <title>LibreNote</title>
</head>
<template name="home">
  <div class="main-container">
    <div class="row">
      {{> newNote}}
    </div>
    <div class="row list-container">
      {{> listNote}}
    </div>
    <div class="nav-note yellow darken-2">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i>Note</a>
    </div>
    <ul id="slide-out" class="side-nav">
      <li><a href="/">Notes</a></li>
      <li><a href="/trash" class="trash">Trash</a></li>
    </ul>
  </div>

</template>
