/* CSS declarations go here */
.main-container{
  margin-top: 65px;
}
.list-container, .trash-list{
  width: 95%;
  font-family: 'Roboto Slab', serif;
}
#toast-container {
  top: 86%;
  right: 86%;
}
