<template name="sideNav">
  <div class="">
    <div class="nav-note nav2 note-actions" style="background-color: #6F6F6F; z-index:{{selectedNotesCount}}">
      <div class="row">
        <div class="col s4 m2 l2">
          <a href="#" class="btn-flat waves-effect">
            <i class="fa fa-long-arrow-left clear-selected"> &nbsp;{{selectedNotesCount}}</i>
          </a>
        </div>
        <div class="col s8 m8 l8 center ">
          {{#if equals activeTemplate "Note"}}
          <a href="#" class="btn-flat waves-effect trash-selected">
            <i class="fa fa-trash"></i>
          </a>
          <a href="#" class="btn-flat waves-effect archive-selected">
            <i class="fa fa-archive"></i>
          </a>
          {{/if}}
          {{#if equals activeTemplate "Trash"}}
          <a href="#" class="btn-flat waves-effect restore-selected">
            <i class="fa fa-mail-reply"></i>
          </a>
          <a href="#" class="btn-flat waves-effect delete-selected">
            <i class="fa fa-exclamation-triangle"></i>
          </a>
          {{/if}} 
          {{#if equals activeTemplate "Archive"}}
          <a href="#" class="btn-flat waves-effect trash-selected">
            <i class="fa fa-trash"></i>
          </a>
          <a href="#" class="btn-flat waves-effect restore-selected">
            <i class="fa fa-mail-reply"></i>
          </a>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="nav-note {{navColor}}">
      <div class="row">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-navicon"></i>{{activeTemplate}}</a>
      </div>
    </div>

    <ul id="slide-out" class="side-nav">
      <li>
        <a href="/" class="sidenav-note">
          <i class="fa fa-book"></i>
          Note
        </a>
      </li>
      <li>
        <a href="/archive" class="sidenav-trash">
          <i class='fa fa-archive'></i>
          Archive
        </a>
      </li>
      <li>
        <a href="/trash" class="sidenav-trash">
          <i class='fa fa-trash-o'></i>
          Trash
        </a>
      </li>
    </ul>
  </div>
</template>
