.nav2{
  position: fixed;
  width: 100%;
  top: 64px;
  height: 45px;
  line-height: 45px;
  a.button-collapse{
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500;
    i{
      margin-right: 10px;
    }
  }
}
.side-nav{
  top: 65px;
}
.yellow{
  @extend .nav2;
  a.button-collapse{
    color: #333;
  }
}
.grey{
  @extend .nav2;
  a.button-collapse{
    color: #fff;
  }
}
.teal{
  @extend .nav2;
  a.button-collapse{
    color: #fff;
  }
}
.note-actions{
  a{
    color: #fff;
    &:hover{
      opacity: 0.8;
    }
  }
  .colors-container{
    .btn-flat{
      padding: 0 1rem;
    }
    .row{
      margin-bottom: 0px;
    }
  }
  .nav-control-buttons{
    a{
      font-size: 1.3rem;
      padding: 0rem 2rem;
    }
  }
}

@media (max-width: 992px) { 
  .nav2{
    top: 0;
  }
  .side-nav{
    top: 0;
  }
}

