<template name="sideNav">
  <div class="">
    <div class="nav-note {{navColor}}">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i>{{activeTemplate}}</a>
    </div>
    <ul id="slide-out" class="side-nav">
      <li>
        <a href="/" class="sidenav-note">
          <i class="fa fa-book"></i>
          Notes
        </a>
      </li>
      <li>
        <a href="/trash" class="sidenav-trash">
          <i class='fa fa-trash-o'></i>
          Trash
        </a>
      </li>
    </ul>
  </div>
</template>
