<template name="editNote">
  <div id="edit-modal" class="modal">
    {{#with activeNote}}
    <div class="modal-content">
      <div class="note-outer" style=" background-color: {{color}}">
        <div class="note-inner">
          <div class="input-field col s12">
            <input placeholder="Title" id="title" type="text" class="validate" value="{{title}}">
            <div class="text-placeholder">
            </div>

            <div contenteditable="true" id="edit-note-content"> {{content}}</div>
          </div>
          {{> noteControls}}
        </div>
      </div>
    </div>
    {{/with}}
  </div>
</template>
