#edit-modal{
  .modal-content{
    padding: 0px;
  }
  .note-outer{
    padding-bottom: 8px;
  }
  #btn-done, #btn-back{
    font-weight: 600;
  }
  
  .new-todo-container{
    div.s1{
      text-align:right;
      padding-right: 8px;
    }
  }
  input[type=text]:not([readonly]){
    border-bottom: none;
    box-shadow: none;
    margin-bottom: 0px;
  }
  #edit-note-content{
    min-height: 100px;
    outline: none;

    #edit-list{
      li.true{
        text-decoration: line-through;
      }
    }
  }
  #title, #edit-new-todo{
    color: #333; 
    font-size: 15px;
    &::-webkit-input-placeholder {
       color: rgba(0,0,0,0.5);
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(0,0,0,0.5);
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: rgba(0,0,0,0.5);
    }

    &:-ms-input-placeholder {  
      color: rgba(0,0,0,0.5);
    }
  }
  #title{
    font-weight: bold;
  }
  .colors-container{
    a{
      margin-right: 5px;
    }
  }
}

@media (min-width: 992px) { 
  #edit-modal.modal{
    width: 40%;
    top: 25% !important
  }
}
