<template name="editNote">
  <div id="edit-modal" class="modal">
    {{#with activeNote}}
    <div class="modal-content">
      <div class="note-outer" style=" background-color: {{editNoteColor}}">
        <div class="note-inner">
          <div class="input-field col s12">
            <input placeholder="Title" id="title" type="text" class="validate" value="{{title}}">
            <div class="text-placeholder">
            </div>

            <div contenteditable="true" id="edit-note-content"> {{content}}</div>
          </div>
          <div class="row mb-zero">
            <div class="colors-container col s8">
              <a href="#" class="black-text" data-color="white"> <i class="fa fa-tint fa-2x"></i></a>
              <a href="#" class="red-text" data-color="#FF6D3F"> <i class="fa fa-tint fa-2x"></i></a>
              <a href="#" class="orange-text" data-color="#FF9B00"> <i class="fa fa-tint fa-2x"></i></a>
              <a href="#" class="yellow-text" data-color="#FFDA00"> <i class="fa fa-tint fa-2x"></i></a>
              <a href="#" class="blue-text" data-color="#3FC3FF"> <i class="fa fa-tint fa-2x"></i></a>
              <a href="#" class="grey-text" data-color="#B8C4C9"> <i class="fa fa-tint fa-2x"></i></a>
              <a href="#" class="teal-text" data-color="#1CE8B5"> <i class="fa fa-tint fa-2x"></i></a>
              <a href="#" class="green-text" data-color="#95D641"> <i class="fa fa-tint fa-2x"></i></a>
            </div>
            <div class="col s4">
              <a class="btn-flat waves-effect btn-done right" id="btn-done"  href="#">Done</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/with}}
  </div>
</template>
