<template name="editNote">
  <div id="edit-modal" class="modal">
    {{#with activeNote}}
    <div class="modal-content">
      <div class="note-outer" style=" background-color: {{color}}">
        <div class="note-inner">
          <div class="input-field col s12">
            <input placeholder="Title" id="title" type="text" class="validate" value="{{title}}">
            <div class="text-placeholder">
            </div>

            {{#if equals type "text"}}
            <div contenteditable="true" id="edit-note-content"> {{content}}</div>
            {{else}}
            <ul class="todo-list" id="edit-list">
              {{#each todos}}
              <li  class="{{_id}}-todo {{checked}}">
                <p class="row">
                  <div class="col s1">
                    <input type="checkbox" class="filled-in edit-checkbox" id="{{_id}}-edit-checkbox" checked="{{checked}}" />
                    <label for="{{_id}}-edit-checkbox"></label>
                  </div>
                  <div class="col s10">
                    <input type="text" class="edit-todo" name="todo-tiem" id="" value="{{text}}" />
                  </div>
                  <div class="col s1">
                    <a href="#" class="remove-todo">
                      <i class="fa fa-remove"></i>
                    </a>
                  </div>
                </p>
              </li>
              {{/each}}
              </ul>
            {{/if}}
          </div>
          {{> noteControls}}
        </div>
      </div>
    </div>
    {{/with}}
  </div>
</template>
