<template name="signup">
  <div class="row signup-container">
    <div class="col s10 m8 l4 offset-s1 offset-m2 offset-l4 card signup-form">
      <h4 class="center-align">
        Sign Up
      </h4>
      <div class="row social-btn">
        <div class="col s12 m12 l12">
          <p><a class="btn github-btn waves-effect waves-light" href=""><i class="fa fa-github"></i></a></p>
        </div>
      </div>
      <div class="form-inputs">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="confirm-password" type="password" class="validate">
            <label for="confirm-password">Confirm Password</label>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col s12">
            <button class="btn brown darken-4 waves-effect waves-light" id="signup-btn" name="commit" >Sign up</button>
          </div>
        </div>
      </div>
      <div class="row register-forgot">
        <div class="col s12 right-align">
          Already have an account? 
          <a href="/signin">Login</a>
        </div>
      </div>
    </div>
  </div>
</template>
