<template name="trash">
  <div class="main-container">
    <div class="row">
      <p class="center-align">
        {{#if noteCount}}
        <a href="#" class="btn-flat btn-delete-all waves-effect">Empty the trash</a>
        {{else}}
        <a href="#" class="btn-flat waves-effect">Trash is empty </a>
        {{/if}}
      </p>
    </div>
    <div class="row trash-list">
      {{#each notes}}
      <div class="card col s10 m4 l2 note-block" style="background-color: {{color}}" id="{{_id}}-trash-note">
        <div class="row">
          {{#if title}}
          <div class="note-title row">
            {{title}}
          </div>
          {{/if}}
          <div class="note-content row">
            {{#if equals type "text"}}
              {{{content}}}
            {{else}}
            <ul class="todo-list">
              {{#each noteTodos _id}}
              <li  class="{{_id}} {{checked}}">
                <input type="checkbox" class="filled-in list-checkbox" id="{{_id}}-trash-checkbox" checked="{{checked}}"  onclick="return false" />
                <label for="{{_id}}-trash-checkbox" style="top: 10px;"></label>
                {{text}}
                </li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
        </div>
        <a href="#" class="btn-floating  select-note waves-effect">
          <i class="fa fa-check "></i>
        </a>
        <div class="note-options row">
          <div class="col s3 right">
            <a class="btn-delete right waves-effect"   href="#">
              <i class="fa fa-trash"></i>
            </a>
          </div>
          <div class="col s3 right">
            <a class="btn-restore right waves-effect" href="#">
              <i class="fa fa-mail-reply"></i>
            </a>
          </div>
        </div>
      </div>
      {{else}}
        {{> noteNotFound message="No items in the trash" icon="fa-trash-o"}}
      {{/each}}
    </div>
  </div>
</template>
