<template name="newTodo">
  <div class="input-field col s12">
    <input placeholder="Enter Title" id="title" type="text" class="validate">
  </div>
  <div class="col s12">
    <ul class="todo-list">
      {{#each todos}} 
      <li  class="{{_id}}-todo-item {{checked}}">
        <p class="row">
          <div class="col s1">
            <input type="checkbox" class="filled-in new-checkbox" id="{{_id}}-new-checkbox" checked="{{checked}}" />
            <label for="{{_id}}-new-checkbox"></label>
          </div>
          <div class="col s10">
            <input type="text" class="edit-todo" name="todo-tiem" id="" value="{{text}}" />
          </div>
          <div class="col s1">
            <a href="#" class="remove-todo">
              <i class="fa fa-remove"></i>
            </a>
          </div>
        </p>
      </li>
      {{/each}}
      <div class="row new-todo-container">
        <div class="col s1">
          <i class="fa fa-plus"></i>
        </div>
        <div class="col s10">
          <input placeholder="Enter todo" id="new-todo" type="text" class="validate">
        </div>
        </div>
    </ul>
  </div>
</template>

