<template name="newNote">
  <div class="row note-container">
    <div class="col s12 card m12 l6 push-l3" style=" background-color: {{noteColor}}">
      <div class="new-note-container">
        <div class="row note-inner">
          {{#if isAddingNote}}
            {{#if isAddingTodo}}
              {{> newTodo}}
            {{else}}
              <div class="input-field col s12">
                <input placeholder="Title" id="title" type="text" class="validate">
                <div class="text-placeholder">
                  Add Note
                </div>
                <div contenteditable="true" id="text-note"></div>

              </div>
            {{/if}}
            {{> noteControls}}
          {{else}}
            <p  class="note-placeholder">
              <span>Add Note </span>
              <a href="#" class="show-new-todo">
                <i class="right fa fa-th-list"></i>
              </a>
            </p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
<template name="noteControls">
  <div class="row mb-zero note-controls">
    <div class="colors-container col s8">
      <a href="#" class="black-text" data-color="white"> <i class="fa fa-tint fa-3x"></i></a>
      <a href="#" class="red-text" data-color="#FF6D3F"> <i class="fa fa-tint fa-3x"></i></a>
      <a href="#" class="orange-text" data-color="#FF9B00"> <i class="fa fa-tint fa-3x"></i></a>
      <a href="#" class="yellow-text" data-color="#FFDA00"> <i class="fa fa-tint fa-3x"></i></a>
      <a href="#" class="blue-text" data-color="#3FC3FF"> <i class="fa fa-tint fa-3x"></i></a>
      <a href="#" class="grey-text" data-color="#B8C4C9"> <i class="fa fa-tint fa-3x"></i></a>
      <a href="#" class="teal-text" data-color="#1CE8B5"> <i class="fa fa-tint fa-3x"></i></a>
      <a href="#" class="green-text" data-color="#95D641"> <i class="fa fa-tint fa-3x"></i></a>
    </div>
    <div class="col s4">
      <a class="waves-effect btn-done right waves-effect" id="btn-done"  href="#">Done</a>
      <a class="waves-effect btn-back right waves-effect" id="btn-back"  href="#">Back</a>
    </div>
  </div>
</template>
