.note-container{
  margin-top: 70px;
  width: 80%;
  .note-placeholder{
    cursor: text;
    color: rgba(0,0,0,0.5);
    font-size: 14px;
    padding: 4px 10px 0px 10px;
    margin-bottom: 6px;
    a{
      color: rgba(0,0,0,0.5);
    }
  }
  .note-inner{
    padding-bottom: 0px;
    margin-bottom: 4px;
  }
  input[type=text]:not([readonly]){
    border-bottom: none;
    box-shadow: none;
    margin-bottom: 0px;
  }
  #title, #new-todo {
    color: #333; 
    font-size: 15px;
    font-weight: bold;
    &::-webkit-input-placeholder {
      color: #7F7F7F;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #7F7F7F;  
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: #7F7F7F;  
    }

    &:-ms-input-placeholder {  
      color: #7F7F7F;  
    }
  }
  #new-todo{
    font-weight: normal;
  }
  .card{
    border-radius: 0px;
  }
  i{
    font-size: 1.2rem;
    padding-right: 10px;
  }
  #text-note{
    min-height: 40px;
    z-index: 1;
  }
  .text-placeholder{
    min-height: 40px;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
  div[contenteditable=true]{
    outline: none;
  }
}
/*note controls*/
.note-controls{
  .colors-container{
    a{
      i{
        font-size: 1.5rem;
      }
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .btn-done{
    color: #333;
    font-size: 13px;
    font-weight: 500;
    padding: 5px;
    &:hover{
      opacity: 0.7;
    }
  }
  .btn-back{
    @extend .btn-done;
    margin-right: 10px;
  }
}

@media (max-width: 720px) { 
  .note-container{
    width: 90%;
  }
}
