<template name="resetPassword">
  <div class="col s10 m8 l4 offset-s1 offset-m2 offset-l4 card ">
    <h4 class="center-align">
      Reset Password
    </h4>
    <div class="form-inputs">
      <div class="row">
        <div class="input-field col s12">
          <input id="reset-password" type="password" class="validate">
          <label for="reset-password">New Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="reset-confirm" type="password" class="validate">
          <label for="reset-confirm">Confirm Password</label>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col s12">
            <button class="btn brown darken-4 waves-effect" id="btn-reset" name="commit" >Reset Password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
